# 1 Basic

## 1.1 The interpreter

In [1]:
#EXERCISE 1.1

In [8]:
3+1

4

In [9]:
3*3

9

In [10]:
2**3

8

In [11]:
"Hello, world!"

'Hello, world!'

## 1.2 Scripts

In [2]:
#EXERCISE 1.2
#Nothing happens. However, we can print each of them by putting them into print function like this:
print(3+1)
print(3*3)
print(2**3)
print("Hello, World")

4
9
8
Hello, World

## 1.3 More interpreter

In [31]:
#EXERCISE 1.3
#a It adds two strings and returns 'python'
#b Multiplies 'py' string by 3 and return pypypypython
#c It gives error since we are trying to substracting strings which is not valid operation in python
#d It gives error because we cannot add string to integer
#e Multiplies '3' string with 3 so it returns '333'
#f a does not mean anything python so gives an error
#g Defines new variables called a and assigns integer value 3
#h It returns 3 beacuse 3 is assigned to a

## 1.4 Booleans

In [ ]:
#EXERCISE 1.4
#a integer 1 is equal to the integer 1. True
#b 0 means false and 1 means true in boolean expressions. True
#c 0 means false and false is not equal to true. False
#d 0 is false. True
#e 3 is equal to 1*3 which also 3. True
#f (3 == 1) return 0 which means false. 0 * 3 is 0. returns 0
#g (3==3) is 1 which is true. 1*4 is 4. 4+3 is 7. 7==1 is false. returns false
#h 243 is not greater than or equal to 256. false

## 1.5 Integers

In [7]:
#EXERCISE 1.5
#a returns 1.666666667 which is result
#b returns 2. remainder is 2
#c 1.6 again because this is result
#d 1.6
#e remainder is 2.2. returns 2.2
#f returns 2001 to the power of 200

## 1.6 Floats

In [10]:
#EXERCISE 1.6
#a It gives an error in this case because it exceeds the limit of maximum float value
#b result is 0
#c Since we are using scientific notation, 1.0 is rounded to 0.

## 1.7 Variables

In [11]:
#EXERCISE 1.7
name = "John Doe"
print("Hello, " + name + "!")

Hello, John Doe!

## 1.8 Type casting

In [ ]:
#EXERCISE 1.8
#a returns return 123.0 which is float value of 123
#b return 123.0. It casts '123' string to float value
#c returns 123.23. casting string to float
#d It casts float to the int. returns 123. Casting float to integer just ignores the floating value.
#e It gives error because "123.23" cannot be casted to integer.
#f this returnss 123 because we first cast "123.23" to float which returns 123.23 then we cast it to the integer.
#However in example e we tried directly cast it.
#g casts integer 12 to "12"
#h casts float 12.2 to "12.2"
#i all strings excluding empty string returns true in bool().
#j all numeric values excluding 0 returns true in bool(). In this case, 0 is passed. returns false
#k 0.1 is not 0. returns true

# Control flow

## 2.2 Range

In [ ]:
#EXERCISE 2.1
#range(5) returns sequence of numbers starting from 0(default) to 4(It stops before a specified number).
#range has 3 parameters start,stop,step. It returns sequence of number starting from start, adds step and returns that number
#if number did not reach stop value.
#for i in range(5) means for loop which starts at 0, step is 1(by default), and stops at 5.
#type(range(5)) is <class 'range'>

## 2.2 For loops

In [15]:
#EXERCISE 2.2
#a
for i in range(0, 101, 1):
    print(i, " ", end='')
 
print("\n")

#b
for i in range(1, 101, 1):
    if(i%5==0 and (i%3!=0)):
        print(i, " ", end='')
        
print("\n")

#c
x=18
for i in range(2, x, 1):
    if(x%i==0):
        print(i, " ", end='')

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100

5  10  20  25  35  40  50  55  65  70  80  85  95  100

2  3  6  9

## 2.3 Simple while loops

In [16]:
#EXERCISE 2.3
#a
i = 1
while(i <= 100):
    print(i, " ", end='')
    i+=1
    
print("\n")
#b
i = 1
while(i <= 100):
    if(i%7 ==0 ):
        print(i, " ", end='')
    i+=1

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100

7  14  21  28  35  42  49  56  63  70  77  84  91  98

In [ ]:
#EXERCISE 2.4

## 2.5 While loops

In [ ]:
#EXERCISE 2.5
numberFound = 0
x = 11

while(numberFound < 20):
    if(x%5==0 and x%7==0 and x%11==0):
        print(x, " ", end='')
        numberFound+=1
    x+=1

## 2.6 More while loops

In [32]:
#EXERCISE 2.6
x = 10
while (True):
    if (x%1==0 and x%2==0 and x%3==0 and x%4==0 and x%5==0 and x%6==0 and x%7==0 and x%8 ==0 and x%9 == 0 and x%10==0):
            print(x)
            break;
    x += 1

2520

## 2.7 Collatz sequence

In [17]:
#EXERCISE 2.7
x = 103
print(x, " ", end='')

while(x != 1):
    if(x % 2 != 0):
        x = (3*x)+1
        print(x, " ", end='')
    else:
        x = int(x/2)
        print(x, " ", end='')

103  310  155  466  233  700  350  175  526  263  790  395  1186  593  1780  890  445  1336  668  334  167  502  251  754  377  1132  566  283  850  425  1276  638  319  958  479  1438  719  2158  1079  3238  1619  4858  2429  7288  3644  1822  911  2734  1367  4102  2051  6154  3077  9232  4616  2308  1154  577  1732  866  433  1300  650  325  976  488  244  122  61  184  92  46  23  70  35  106  53  160  80  40  20  10  5  16  8  4  2  1

# Functions

## 3.1 Hello

In [18]:
#EXERCISE 3.1
#a
def function1():
    print("Hello, world!")
    
#b
def function2(name):
    print("Hello, " + name)
    
#c
#Print functions prints the value. However, return does not anything. It returns the value. In our case, it returns the string
#"Hello, world!". We could write variable=function1() if it would return a value.

## 3.2 Polynomial

In [33]:
import math
def function(x1, x2, x3): # a, b, and c are ints that correspond to the polynomial's coefficients
    delta = x2 ** 2 - 4 * x1 * x3
    if (delta >= 0):
        root1 = (-x2 + math.sqrt(delta)) / (2 * x1)
        root2 = (-x2 - math.sqrt(delta)) / (2 * x1)
        print ("First root is: " + str(root1) + "\nSecond root is: " + str(root2))
    else:
        print ("No root")

## 3.3 Maximum

In [20]:
#EXERCISE 3.3
def my_max(x, y):
    if(x>=y):
        return x
    else:
        return y

def my_max2(x, y):
    if(x>=y):
        return x
    return y

## 3.4 Primes

In [21]:
#EXERCISE 3.4
def isPrime(n):
    for i in range(2, n, 1):
        if(n%i == 0):
            return False
    return True

def isPrimeUpgraded(n):
    if n==1 or n==0 or (n % 2 == 0 and n > 2):
        return False
    else:
        for i in range(3, int(n**(1/2))+1, 2):
            if n%i == 0:
                return False
        return True

def allPrimesUpToN(n):
    for i in range(2, n+1, 1):
        if(isPrimeUpgraded(i)):
            print(i, " ", end='')

def firstNPrimes(n):
    counter = 0
    number = 2

    while(counter < n):
        if(isPrimeUpgraded(number)):
            print(number, " ", end='')
            counter+=1
        number+=1

## 3.5 Root finding

In [22]:
#EXERCISE 3.5
#a, b
def find_root(f, a, b):
    fa = f(a)
    fb = f(b)
    if fa*fb > 0:
        return None
    while abs(fa) > 0.001 and abs(fb) > 0.001:
        c = (a+b)/2.0
        fc = f(c)
        if fa*fc >= 0:
            a = c
            fa = fc
        else:
            b = c
            fb = fc
    if abs(fa) <= 0.001:
        return a
    else:
        return b